# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Yannick Langlois\Desktop\TIM session 4\-- Interface Web (avancer)  --\Tp\ex1-signets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
